html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow: hidden;
  margin: 0px;
  max-width: 100vw;
  height: 100vh;
  font-family: "Prompt", sans-serif;
  background: url("pictures/wooden_background_transparent.jpg") center center;
  background-size: cover;
}

/* Promo Bar */
.promo-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: red;
  font-size: 20px;
  height: 30px;
}

/* Navigation Bar */

.responsive-nav-open {
  display: none;
  z-index: 3;
}

.navigation-bar {
  height: 100px;
  min-height: 100px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.8);
  max-width: 100%;
  padding: 0vh 10vw;
  background-color: rgba(255, 255, 255, 0.9);
}

.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Indie Flower", cursive;
  font-size: 50px;
  font-weight: 900;
  color: rgb(77, 161, 56);
  user-select: none;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  text-decoration: none;
}

.site-title:visited {
  color: rgb(77, 161, 56);
}
.site-title:hover {
  opacity: 0.6;
  cursor: pointer;
}

.nav-link {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.responsive-nav {
  display: none;
}

.link-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.list-item {
  font-size: 20px;
  font-weight: 700;
  user-select: none;
  transition: opacity 0.15s ease-in-out;
}

.list-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.item-link {
  text-decoration: none;
}

.item-link:visited {
  color: black;
}

.disabled {
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.cart {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cart:hover .circle,
.cart:hover .shopping-cart {
  opacity: 0.6;
  cursor: pointer;
}

.circle {
  position: relative;
  transition: opacity 0.15s ease-in-out;
}

.shopping-cart {
  transition: opacity 0.15s ease-in-out;
}

.x-icon {
  transform: rotate(45deg);
  transition: fill 0.1s ease-in-out;
  margin-bottom: 10px;
  margin-right: 10px;
}

.clear-cart {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.clear-cart-warning {
  position: absolute;
  color: red;
  font-size: 23px;
  display: block;
  width: 150px;
  left: 40px;
  top: 7px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.clear-cart:hover .x-icon {
  fill: red;
}

.clear-cart:hover .clear-cart-warning {
  opacity: 1;
}

.num-in-cart {
  color: white;
  position: absolute;
  top: 8px;
  left: 15px;
  user-select: none;
}

/* Checkout Sidebar */
.checkout {
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: calc(100vh - 100px);
  position: absolute;
  top: 130px;
  right: 0px;
  background-color: rgba(255, 255, 255, 1);
  transition: width ease-in-out 0.5s;
}

.checkout-close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  top: 0px;
  left: -50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.close-icon {
  fill: white;
}

.checkout-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
  width: 100%;
}

.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
}

.checkout-amount {
  width: 70%;
}

.checkout-amount .add-to-cart-link {
  margin: 0px;
}

.checkout-amount .product-button {
  width: 90%;
}

.checkout-amount .num-of-products {
  font-size: 21px;
}

.checkout-amount .plus-sign {
  font-size: 40px;
  width: 45px;
}

.checkout-amount .minus-sign {
  font-size: 40px;
  width: 45px;
}

.checkout-name {
  width: 30%;
  font-size: 23px;
  margin-right: 20px;
}

.checkout-button {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button-container {
  margin-bottom: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 70px;
  font-size: 25px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button-container:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

/* Content Pictures */

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-title-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-decoration: none;
}

.image-title-card:hover {
  opacity: 0.7;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
}

.product {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  text-decoration: none;
}

.home-page-image {
  width: auto;
  height: 60vh;
  min-height: 450px;
}

.product-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 23px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.4);
}

.add-to-cart-link {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.product-button {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  user-select: none;
}

.link-hover:hover .product-button {
  color: white;
  background-color: black;
}

.plus-sign:hover,
.minus-sign:hover {
  color: white;
  background-color: black;
}

.num-of-products {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.minus-sign {
  height: 100%;
  width: 60px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  user-select: none;
}

.plus-sign {
  height: 100%;
  width: 60px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  user-select: none;
}

/* ----------------  PRODUCT PAGE ----------------  */

.content-product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}

.left-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 100px);
  width: 50%;
}

.left-picture-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  min-height: 580px;
  width: 70%;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 20px;
}

.top-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75%;
  min-height: 250px;
  width: 100%;
}

.products-page-image.active {
  border: none;
  height: 95%;
  min-height: 250px;
}

.products-page-image.active:hover {
  opacity: 1;
  cursor: default;
}

.bottom-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-top: solid 1px black;
  border-radius: 0px 0px 20px 20px;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.products-page-image {
  height: 75%;
  width: auto;
  border: solid 1px black;
  transition: opacity 0.15s ease-in-out;
}

.products-page-image:hover {
  opacity: 0.7;
  cursor: pointer;
}

.right-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: calc(100vh - 100px);
  font-size: 20px;
  margin: 0px 40px 0px 0px; /* top-margin 30px */
}

.right-description-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: calc(100% - 40px);
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  padding: 20px;
}

.product-title {
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 13px;
}

.price-remaining {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.price {
  padding-right: 10px;
  border-right: solid 1px rgba(0, 0, 0, 0.7);
}

.remaining {
  padding-left: 10px;
  color: red;
}

.description {
  margin-bottom: 30px;
}

.content-product .add-to-cart-link {
  justify-content: flex-start;
  width: 350px;
  margin-top: 0px;
}

/* ----------------  CHECKOUT PAGE ----------------  */

.checkout-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: solid 1px black;
}

.checkout-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 50px;
  margin-left: 10%;
}

.checkout-order-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10%;
  font-size: 25px;
}

.checkout-product-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: calc(
    100vh - 12vh - 100px - 30px - 2px
  ); /* 2px to account for border thickness */
}

.checkout-product-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 55%;
  height: 100%;
  border-right: solid 1px black;
}

.checkout-product-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc((100% / 3) - 35px);
  border-bottom: solid 1px black;
}

.checkout-item-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 130px;
  height: 100%;
}

.checkout-page-image {
  height: 100%;
  width: auto;
}

.checkout-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 70%;
  min-width: calc(70% - 130px);
  height: 100%;
}

.checkout-item-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 28px;
  margin-left: 33px;
}

.checkout-item-info .add-to-cart-link {
  width: 250px;
  margin: 0px;
}

.checkout-item-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  margin-left: 33px;
}

.checkout-total-amount {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.7vw;
  width: 100%;
  height: 100%;
}

.checkout-total-amount * {
  display: flex;
  flex-direction: row;
}

.checkout-total-amount-text {
}

.sum-total {
  font-weight: bold;
}

.checkout-payment-buyer-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  height: 100%;
  width: 45%;
}

.checkout-payment-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: solid 1px rgba(0, 0, 0, 1);
  height: 15%;
  width: 100%;
  font-size: 25px;
}

.payment-info-text {
  margin: 0;
  padding-left: 40px;
}

.checkout-buyer-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
  height: 85%;
  width: 90%;
}

.form-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  font-size: 40px;
  margin: 10px 0 0 0;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100% - 80px);
  width: 100%;
}

.form-component {
  width: 100%;
}

.form-input {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 50px;
  font-size: 22px;
  padding-left: 10px;
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 22px;
}

.form-input:focus {
  outline: none;
}

.form-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 65px;
  width: 100%;
  border-bottom: solid 1px black;
}

.form-email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 65px;
  width: 100%;
  border-bottom: solid 1px black;
}

.form-phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 65px;
  width: 100%;
  border-bottom: solid 1px black;
}

.form-cellphone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 65px;
  width: 100%;
  border-bottom: solid 1px black;
}

.form-address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 65px;
  width: 100%;
  border-bottom: solid 1px black;
}

.pac-container {
  height: 123px;
}

.form-submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 70px;
  width: 100%;
}

.form-submit-button {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: none;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.8);
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  user-select: none;
}

.form-submit-button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/* --------------- CHECKOUT FINISH --------------- */

.finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  min-height: 650px;
  width: 100%;
}

.finish-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  min-height: 620px;
  width: 70%;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.thankyou {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 50, 57);
  width: 100%;
  height: 15%;
  border-radius: 20px 20px 0px 0px;
  color: white;
  font-size: 60px;
  font-style: italic;
}

.product-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(228, 138, 64);
  width: 100%;
  height: 70%;
}

.finish .checkout-product-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border: none;
}

.finish .checkout-finish-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 50%;
  border-right: solid 1px black;
}

.finish .checkout-product-item {
  border: none;
  margin: 5px;
  min-height: 130px;
}

.finish .checkout-page-image {
  width: 130px;
  height: 130px;
}

.finish .checkout-total-amount {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}

.total-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 80%;
  font-size: 28px;
}

.home-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 153, 24);
  width: 100%;
  height: 15%;
  border-radius: 0px 0px 20px 20px;
}

.return-home-link {
  text-decoration: none;
}

.return-home-button {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 70px;
  font-size: 25px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.return-home-button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

/* Justin's Blog */

.lpicture {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  min-height: 580px;
  width: 30%;
  margin-top: 40px;
}

/* Andrew's Blog */
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

.blog-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(50% - 5px);
  width: calc(((100vh - 130px) / 2) * 3);
  background-color: rgba(255, 255, 255, 0.4);
}

.row-1 {
  padding-bottom: 10px;
}

.col-1,
.col-2,
.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% / 3);
  user-select: none;
}

.col-1:hover .blog-text-container {
  opacity: 1;
  cursor: pointer;
}

.col-2:hover .blog-text-container {
  opacity: 1;
  cursor: pointer;
}

.col-3:hover .blog-text-container {
  opacity: 1;
  cursor: pointer;
}

.col-1,
.col-2 {
  padding: 0px 10px 0px 0px;
}

.blog-image-container {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

.blog-image {
  height: calc((100vh - 130px - 5px) / 2);
  width: auto;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  opacity: 1;
}

.blog-text-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: calc((100vh - 130px - 13px) / 2);
  height: calc((100vh - 130px - 10px) / 2);
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity ease-in-out 0.2s;
  opacity: 0;
  user-select: none;
}

.blog-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 20px;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
  overflow-y: auto;
}

/* RESPONSIVE */

@media screen and (max-width: 1400px) {
  html,
  body {
    overflow-x: hidden;
  }

  .blog-body {
    overflow-y: auto;
  }

  .blog {
    height: calc(((100vh - 130px + 40px) / 2) * 6);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .blog-row {
    flex-direction: column;
    background-color: transparent;
    height: calc(((100vh - 130px + 25px) / 2) * 3);
    width: 100vw;
  }

  .col-1,
  .col-2,
  .col-3 {
    padding: 0px;
    width: calc(((100vh - 130px - 5px) / 2));
    height: calc(((100vh - 130px - 5px) / 2));
  }

  .col-1,
  .col-2 {
    padding-bottom: 10px;
  }

  .blog-text-container {
    width: calc(((100vh - 130px - 5px) / 2));
    height: calc(((100vh - 130px - 5px) / 2));
  }
}

@media screen and (max-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
  }

  .content-product {
    flex-direction: column;
  }

  .left-picture {
    min-height: 600px;
    min-width: 360px;
  }

  .left-picture-card {
    width: 100%;
  }

  .right-description {
    margin: 0px;
    min-width: 360px;
  }

  .checkout-product-form {
    flex-direction: column;
  }

  .checkout-body {
    overflow-y: auto;
    background-image: none;
  }

  .checkout-product-list {
    border-right: 0px;
    width: 100%;
  }

  .checkout-total-amount {
    font-size: 20px;
  }

  .checkout-payment-buyer-form {
    width: 100%;
  }

  .finish-body {
    overflow-y: auto;
  }

  .finish {
    height: 1300px;
  }

  .finish-container {
    width: 90%;
  }

  .finish-body .checkout-product-list {
    flex-direction: column;
  }

  .finish-body .checkout-finish-list {
    width: 100%;
    border-right: 0px;
    justify-content: center;
    border-bottom: solid 1px black;
  }

  .finish-body .checkout-item-picture {
    width: 50%;
    padding-top: 10px;
  }

  .finish-body .checkout-item-info {
    width: 50%;
    min-width: calc(50% - 130px);
  }

  .finish-body .checkout-total-amount {
    width: 100%;
    flex-wrap: wrap;
  }

  .total-wrapper {
    margin-left: 0%;
    justify-content: center;
  }

  .thankyou {
    font-size: 55px;
  }
}

@media screen and (max-width: 900px) {
  html,
  body {
    overflow-x: hidden;
  }

  .nav-link {
    display: none;
  }

  .site-title {
    padding-left: 30vw;
  }

  .responsive-nav {
    position: absolute;
    display: block;
    left: 30px;
    transition: opacity ease-in-out 0.2s;
  }

  .responsive-nav:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .responsive-nav-open {
    position: absolute;
    background-color: white;
    left: 0px;
    width: 80%;
    height: 720px;
    display: none;
  }

  .responsive-link-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    height: 220px;
    width: 100%;
    list-style-type: none;
  }

  .responsive-link-list .item-link {
    font-size: 30px;
  }

  .cart {
    position: absolute;
    right: 20px;
  }
}

@media screen and (max-width: 850px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    overflow-y: auto;
    height: auto;
  }

  .content-pictures {
    flex-direction: column;
  }
}

@media screen and (max-height: 690px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    overflow-y: auto;
    height: auto;
  }

  .checkout {
    height: 620px;
  }
}

@media screen and (max-width: 630px) {
  html,
  body {
    overflow-x: hidden;
  }

  .circle {
    display: none;
  }
  .clear-cart {
    display: none;
  }

  .site-title {
    padding-left: 25vw;
  }

  .checkout-item-picture {
    width: 25%;
  }

  .checkout-item-info {
    width: 75%;
  }

  .checkout-page-image {
    height: 70%;
  }
}

@media screen and (max-width: 400px) {
  html,
  body {
    overflow-x: hidden;
  }

  .site-title {
    padding-left: 20vw;
  }
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(77, 161, 56, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(77, 161, 56, 1);
}
